target
*/target
runtime
*/*/target/*
**/classes/*
*.iml
.idea
*.pyc
*.swp
*.versionsBackup
.livereload
*.log.*
temp
.classpath
.project
.metadata
.settings
.DS_Store
*/.DS_Store
.vagrant
.grunt
webapp/build-templates
public
node_modules
bower_components
dist
/dockerdata
npm-debug.log
dependency-reduced-pom.xml
.python-version
.nvmrc
output
